@import 'Variables.module';

.info {
  padding-left: 5px;
  padding-top: 5px;
}

.info>div {
  display: flex;
  gap: 10px;
}

.ButtonsDiv {
  margin-top: auto;
}

.template {
  width: 49%;

  .templateIsActive {
    // background-color: $def-color  !important;
    background-color: aliceblue !important;
  }

  article {
    border-radius: .5rem;
    box-shadow: 0 1px 2px 1px #00000020;
    margin: auto;
    margin-bottom: 7px;
    // padding: 0.4em;
    cursor: pointer;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  article td {
    vertical-align: middle;
  }

  article form {
    text-align: right;
  }

  table td {
    border: none !important;
  }

  article h6,
  article p {
    text-align: left;
    margin-bottom: 2px;
  }

  table td {
    text-align: left;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }
}