$add-color: #90c29f;
$del-color: #d38f8f;
$def-color: #8facd3;
$tinted-color: #858585;
$tinted2-color: #565656;
$black-color: #2b2b2b;


$body-color: #fef8f0;
$header-color: #FFB72B;
$bkg1-color: #f7ad1b;
$bkg2-color: #ffd786;
$bkg3-color: #f0e2c6;